/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* Bootstrap FORM CONTROLS */

.form-label {
    margin-bottom: 1px;
    font-size: small;
}

.form-control {
    margin-bottom: 10px;
    padding: 6px !important;
    background-color: #fff;
}

    /*.form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }*/

.form-select {
    margin-bottom: 10px;    
    padding: 6px 6px 6px 36px;    
}

.form-select-page {
    width: auto;
    text-align: end;
}

.form-label-select{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: auto
}
/* End Bootstrap FORM CONTROLS */
.fileload {
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px;
}

.btn-primary {
    margin-bottom: 10px;
    color: white;
    background-color: #0b5cd4;
}

.btn-search {
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 105px;
    color: white;
    background-color: #0b5cd4;
}

    .btn-search:hover {
        background-color: #0c65e9;
        color: #b3caed;
    }

    .btn-search::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: bold !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /*content: "\f52a";*/
        margin-right: 5px;
    }

.btn-new {
    margin-bottom: 10px;
    margin-right: 10px;
    min-width: 105px;
    color: white;
    background-color: #226546;
}

    .btn-new:hover {
        background-color: #198754;
        color: #8bdeb8;
    }

    .btn-new::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;        
        margin-right: 5px;
    }

.btn-close {
    margin-right: 0px;
    margin-left: auto;
}

.icon-btn {
    color: #242745;
    margin-right: 0;
    margin-left: 0;
}
    .icon-btn::before {
        margin-right: 10px;
        color: #242745;
        font-size: 18px;
    }


.alert-dismissible{ padding: 14px; }

.me-1 { margin-right: 8px !important; }

.loader {
    position: absolute;
    background: #808080;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999997;
    opacity: 0.65;
    filter: alpha(opacity=65);
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}


.imgLoader {
    position: absolute;
    top: 47%;
    left: 47%;
    text-align: center;
    vertical-align: middle;
}

.bi-question-message {
    font-size: xxx-large;
    color: #0b5cd4;
}

input[type='file'] {
    display: none
}

.filetext {
    line-height: 30px;
    height: 30px;
    border: 1px solid #A7A7A7;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    width: 300px;
}

.btnfile {
    border: none;
    box-sizing: border-box;
    padding: 2px 10px;
    background-color: #4493c7;
    color: #FFF;
    height: 32px;
    font-size: 15px;
    vertical-align: middle;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;   
}

.ui-autocomplete {
    position: relative !important;
}


.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px 5px 35px !important;
}