<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/App_Themes/Default/css">
    <!--<include path="~/App_Themes/Default/bootstrap/bootstrap.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap.min.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-grid.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-rtl.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-reboot.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-utilities-rtl.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-utilities.css" />
    <include path="~/App_Themes/Default/bootstrap-icons/bootstrap-icons.css" />
    <include path="~/App_Themes/Default/Site.css" />
    <include path="~/App_Themes/Default/Style.css" />
    <include path="~/App_Themes/Default/jquery-ui/jquery-ui.css" />
    -->
    <include path="~/App_Themes/Default/datagrid.css" />
  </styleBundle>
</bundles>

