<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/App_Themes/Default/css">
    <include path="~/App_Themes/Default/bootstrap/bootstrap.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-grid.css" />
    <include path="~/App_Themes/Default/bootstrap/utilities-rtl.css" />
    <include path="~/App_Themes/Default/bootstrap/utilities.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-rtl.css" />
    <include path="~/App_Themes/Default/bootstrap/bootstrap-reboot.css" />
    <include path="~/App_Themes/Default/bootstrap-icons/bootstrap-icons.css" />
    <include path="~/App_Themes/Default/Site.css" />
    <include path="~/App_Themes/Default/Style.css" />
  </styleBundle>
</bundles>

